@import url('https://fonts.googleapis.com/css?family=Orbitron');

.container {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.info {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5em;
    width: 405px;
    margin: 35px auto;
    border-radius: 15px;
}

#reset {
  margin: 20px 0 10px 0;
  padding: 10px;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: black;
}
