.square {
	width: 150px;
	height: 150px;
	background-color: #FF5733;
	color:white;
	font-weight: bold;
	font-size: 8em;
	border: 1px solid black;
	display: inline-block;
	vertical-align: middle;
}

.square:hover {
	background-color: #FFC300;
}
